#nprogress .bar {
    top: 48px;
    color: #80BA52;
    background: #80BA52;
}

#nprogress .spinner {
    top: 55px;
}

#nprogress .spinner-icon {
    border-top-color: #80BA52;
    border-left-color: #80BA52;
}